<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5cca11e197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Wish List</title>
</head>
<body>
    <div class="box">
        <% for(let i = 0; i < wishItems.length; i++) { %>
            <form action="/delete" method="POST">
                <div class="item">
            <table>
        <td><a class="fas fa-trash" value="<%= wishItems[i].wish %>" href="/" onclick="this.form.submit()"></a></td>
        </table>
            <input class="inputUnique" value="<%= wishItems[i].title %>">
            <input class="inputUnique2" value="<%= wishItems[i].price %>">
        </div>
    </form>
<% } %>

        <form action="/" method="POST">
            <input type="text" name="newWish" placeholder="Add New Wish" required>
            <input type="number" name="newPrice" placeholder="Add New Price" required>
        <div class="btn">
        <button type="submit">+</button>
    </div>
        </form>
    </div>
</body>
</html>